/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1.5;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/*
    css
    */
.container {
    margin: 0 auto;
    margin-left: 350px;
}

.large {
    width: 250px;
    height: 150px;
    font-size: small;
    color: aliceblue;
    padding: 10px;
    margin-top: 20px;
    display: inline-block;
}
.google {
    background-color: #FE5349 ;
}
.des {
    background-color: #08CA80;
}
.js {
    background-color: #E52F2D ;
    margin-bottom: 20px;
}
.small {
    width: 150px;
    height: 150px;
    margin-top: 20px;
    font-size: small;
    color: aliceblue;
    padding: 10px;
    display: inline-block;
}
.mat {
    background-color: #0C8871 ;
}
.doodle {
    background-color: #B601FF;
}
.plus {
     background-color: #0DC1FD;
}
.glass {
     background-color: #01F361 ;
}
.html {
    background-color: #E8FF1D ;
}
.css {
    background-color: #FE7405;
}
